@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}
a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#sticky-social {
   right: 0;
   position: fixed;
   top: 150px;
}
#sticky-social a {
   background: none;
   color: #000;
   display: block;
   height: 35px;
   font: 18px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   right: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social a:hover span {
   right: 100%;
}
#sticky-social a[class*="facebook"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #dd4b39; }  

#sticky-social a[class*="linkedin"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }  

#sticky-social a[class*="instagrem"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #517fa4; }  

#sticky-social a[class*="stumbleupon"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="stumbleupon"]:hover,
#sticky-social a[class*="stumbleupon"] span { background: #eb4924; }  

#sticky-social a[class*="video"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="video"]:hover,
#sticky-social a[class*="video"] span { background: #cc2127; }  

#sticky-social a[class*="flickr"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span { background: #ff0084; }  

#sticky-social a[class*="tumblr"]{background:rgba(120, 120, 120, 0.60)}
#sticky-social a[class*="tumblr"]:hover,
#sticky-social a[class*="tumblr"] span { background: #32506d; }